CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
Risorse per esame/Algoritmi e Programmazione_quarta edizione_Enrico Camurati e Stefano Quer.pdf
ASD